header{
  .header__container{
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    padding: 18px 0;
    .header__search{
      form{
        label{
          input[type=search]{
            width: 436px;
            border: solid 1px darkgrey;
            height: 32px;
          }
        }
      }
    }
    .header__cart{
      display: flex;
      align-items: center;
      .header__cart-total{
        font-family: "Open Sans", Serif, sans-serif;
        padding: 0 0 0 16px;
        font-size: 26px;
        font-weight: bold;
        color: $cart-total-color;
      }
    }
  }
}